{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container top-0 end-0 p-3 position-fixed">
                <div class="toast border border-{{ label }} shadow" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-bg-{{ label }} ">
                        <i class="bi bi-check-circle-fill pe-2"></i>
                        <strong class="me-auto">Bootstrap</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body bg-{{ label }}-subtle rounded-bottom-3">
                        <div class="flash-{{ label }}">
                            {{ message|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endfor %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'));
    var toastList = toastElList.map(function(toastEl) {
        var toast = new bootstrap.Toast(toastEl, {
            autohide: true,
            delay: 7000,
            animation: true
        });
        toast.show();
        return toast;
    });
});
</script>