<div class="card h-100 shadow">
    <div class="card-header text-center">
        {{ articulo.marca }}
    </div>
    
    {# Badge #}
    {% if articulo.destacado %}
        <img src="/badge.png" 
            class="position-absolute top-0 end-0 m-2 mt-5" 
            alt="Badge"
            style="width: 60px; z-index: 1;">
    {% endif %}
 
    
    {# Buscar imagen principal entre todos los articuloArchivos #}
    {% set imagen_principal = null %}
    {% for articuloArchivo in articulo.articuloArchivos %}
        {% if articuloArchivo.esPrincipal and articuloArchivo.archivo.esImagen %}
            {% set imagen_principal = articuloArchivo.archivo %}
        {% endif %}
    {% endfor %}
        
    {# Si existe la imagen principal, mostrarla, sino mostrar una imagen por defecto #}

    {% if imagen_principal %}
        <img src="{{ asset('uploads/archivos/' ~ imagen_principal.filePath) }}" 
            class="card-img-top" 
            alt="{{ articulo.detalle }}"
            width="400">
    {% else %}
        <img src="{{ asset('images/no-image.jpg') }}" 
            class="card-img-top" 
            alt="Sin imagen"
            width="400">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title fs-6 fw-normal">{{ articulo.detalle }}</h5>
        <p class="card-text fs-5 text-end">
            ${{ articulo.precioLista|number_format(0, ',', '.') }}
        </p>
        
        {% if articulo.destacado %}
            <span class="badge bg-warning">Destacado</span>
        {% endif %}
        {% if articulo.novedad %}
            <span class="badge bg-info">Novedad</span>
        {% endif %}
    </div>

    <div class="card-footer">
        {% if is_granted('ROLE_CLIENTE') %}
            {# Si existe en el carrito, mostrar la cantidad #}
            {% if carrito_articulos[articulo.codigo] is defined %}
                <p class="fw-bold mb-1 text-center text-danger" style="font-size:12px">
                    Actualmente tienes {{ carrito_articulos[articulo.codigo]['cantidad'] }} en tu carrito.
                </p>
            {% endif %}
            <form action="{{ path('app_cliente_cart_add') }}" method="POST" style="display: inline;">
                <input type="hidden" name="codigo" value="{{ articulo.codigo }}"/>
                <div class="input-group">
                    <input type="text" name="cantidad" value="1" class="form-control border border-primary border-end-0" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="button-addon2"/>
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                        <i class="bi bi-cart-plus"></i> Agregar
                    </button>
                    <a href="{{ path('app_catalogo_show', {codigo: articulo.codigo}) }}" class="btn btn-outline-primary">
                        <i class="bi bi-eye"></i> Ver
                    </a>
                </div>
            </form>
        {% else %}
            <a href="{{ path('app_catalogo_show', {codigo: articulo.codigo}) }}" class="btn btn-outline-primary">
                <i class="bi bi-eye"></i> Ver
            </a>
        {% endif %}
    </div>
</div>