{% extends 'admin/base.html.twig' %}

{% block title %}Gestión de Artículos{% endblock %}

{% block content %}
<div class="container-fluid">
    {# Título #}
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h4>Gestión de Artículos</h4>
        <span class="d-inline-flex px-2 py-0  text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">
            Cantidad de artículos: {{ articulos.getTotalItemCount }}
        </span>
    </div>

    {# Filtros #}
    <div class="card mb-4 bg-light shadow-sm">
        <div class="card-body">
            <form method="get" class="row g-3">

                <div class="col-md-3">
                    <label for="buscar" class="form-label">Buscar</label>
                    <input type="text" name="buscar" class="form-control" 
                           placeholder="Buscar..." value="{{ app.request.query.get('buscar') }}">
                </div>
                <div class="col-md-3">
                    <label for="rubro" class="form-label">Rubro</label>
                    <select class="form-select" id="rubro" name="rubro">
                        <option value="">Todos</option>
                        {% for rubro in rubros %}
                            <option value="{{ rubro.codigo }}" 
                                    {% if app.request.query.get('rubro') == rubro.codigo %}selected{% endif %}>
                                {{ rubro.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="habilitado" class="form-label">Estado</label>
                    <select class="form-select" id="habilitado" name="habilitado">
                        <option value="1" {% if app.request.query.get('habilitado') == '1' %}selected{% endif %}>Habilitados</option>
                        <option value="0" {% if app.request.query.get('habilitado') == '0' %}selected{% endif %}>Deshabilitados</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="buscar" class="form-label">&nbsp;</label>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-search"></i> Buscar
                        </button>
                        <a href="{{ path('app_admin_articulo_index') }}" class="btn btn-secondary">
                            <i class="bi bi-x-circle"></i> Limpiar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {# Paginado #}
    <div class="table-responsive border rounded-2 bg-light shadow-sm">
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(articulos, 'Código', 'a.codigo') }}
                        {% if articulos.isSorted('a.codigo') %}
                            <i class="bi bi-arrow-{{ articulos.direction == 'desc' ? 'down' : 'up' }}-short"></i>
                        {% endif %}
                    </th>
                    <th>{{ knp_pagination_sortable(articulos, 'Detalle', 'a.detalle') }}
                        {% if articulos.isSorted('a.detalle') %}
                            <i class="bi bi-arrow-{{ articulos.direction == 'desc' ? 'down' : 'up' }}-short"></i>
                        {% endif %}
                    </th>
                    <th>{{ knp_pagination_sortable(articulos, 'Marca', 'm.nombre') }}
                        {% if articulos.isSorted('m.nombre') %}
                            <i class="bi bi-arrow-{{ articulos.direction == 'desc' ? 'down' : 'up' }}-short"></i>
                        {% endif %}
                    </th>
                    <th class="text-end pe-5">
                        {{ knp_pagination_sortable(articulos, 'Precio', 'a.precioLista') }}
                        {% if articulos.isSorted('a.precioLista') %}
                            <i class="bi bi-arrow-{{ articulos.direction == 'desc' ? 'down' : 'up' }}-short"></i>
                        {% endif %}
                    </th>
                    <th class="text-center">Hab. Web</th>
                    <th class="text-center">Hab. Gestión</th>
                    <th class="text-center">Destacado</th>
                    <th class="text-center">Novedad</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody>
                {% for articulo in articulos %}
                    <tr>
                        <td>{{ articulo.codigo }}</td>
                        <td>
                            {{ articulo.detalle }}<br>
                            <small class="text-muted">{{ articulo.subrubro.rubro.nombre }} > {{ articulo.subrubro.nombre }}</small>
                        </td>
                        <td>{{ articulo.marca }}</td>
                        <td class="text-end pe-5">
                            ${{ articulo.precioLista|number_format(2, ',', '.') }}
                        </td>
                        <td class="text-center">
                            {% if articulo.habilitadoWeb %}
                                <span class="badge bg-success" style="--bs-bg-opacity: .8;">Habilitado</span>
                            {% else %}
                                <span class="badge bg-danger" style="--bs-bg-opacity: .8;">Deshabilitado</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if articulo.habilitadoGestion %}
                                <span class="badge bg-success" style="--bs-bg-opacity: .8;">Habilitado</span>
                            {% else %}
                                <span class="badge bg-danger" style="--bs-bg-opacity: .8;">Deshabilitado</span>

                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if articulo.destacado %}
                                <i class="bi bi-check-circle-fill text-success"></i>
                            {% else %}
                                <i class="bi bi-x-circle-fill text-danger"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if articulo.novedad %}
                                <i class="bi bi-check-circle-fill text-success"></i>
                            {% else %}
                                <i class="bi bi-x-circle-fill text-danger"></i>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <div class="input-group text-center" role="group">
                                <a href="{{ path('app_admin_articulo_edit', {'codigo': articulo.codigo}) }}" 
                                    class="btn btn-sm btn-outline-primary">
                                    <i class="bi bi-pencil ps-1"></i> Editar
                                </a>
                                <form method="post" 
                                        action="{{ path('app_admin_articulo_alternar_habilitado', {'codigo': articulo.codigo}) }}" 
                                        style="display: inline;">
                                    <input type="hidden" name="_token" value="{{ csrf_token('alternar-habilitado' ~ articulo.codigo) }}">
                                        {% if articulo.habilitadoWeb %}
                                            <button type="submit" class="btn btn-sm btn-outline-danger rounded-0 rounded-end-1">
                                                <i class="bi bi-x-circle ps-1"></i> Deshabilitar
                                            </button>
                                        {% else %}
                                            <button type="submit" class="btn btn-sm btn-outline-success rounded-0 rounded-end-1">
                                                <i class="bi bi-check-circle ps-1"></i> Habilitar
                                            </button>
                                        {% endif %}
                                </form>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No hay artículos registrados</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {# Paginado #}
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(articulos, './pagination/custom_pagination.html.twig') }}
    </div>
</div> 
{% endblock %} 