<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Panel de Administración{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {% include 'partials/_mensajes_flash.html.twig' %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_admin_dashboard') }}">Panel de Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarAdmin">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_admin_dashboard') }}">
                                <i class="bi bi-speedometer2"></i> Dashboard
                            </a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Clientes
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_cliente_index') }}">
                                        <i class="bi bi-people me-2"></i>Padron de Clientes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_pedido_index') }}">
                                        <i class="bi bi-cart me-2"></i>Pedidos
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-person me-2"></i>otro
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Empresa
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_responsable_logistica_index') }}">
                                        <i class="bi bi-truck me-2"></i>Responsables Logística
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_categoria_impositiva_index') }}">
                                        <i class="bi bi-cash me-2"></i>Categorías Impositivas
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_vendedor_index') }}">
                                        <i class="bi bi-people me-2"></i>Vendedores
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_usuario_index') }}">
                                        <i class="bi bi-person me-2"></i>Usuarios
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Articulos
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_articulo_index') }}">
                                        <i class="bi bi-box me-2"></i>Artículos
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_seccion_index') }}">
                                        <i class="bi bi-diagram-3 me-2"></i>Secciones
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_rubro_index') }}">
                                        <i class="bi bi-diagram-2 me-2"></i>Rubros
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_subrubro_index') }}">
                                        <i class="bi bi-diagram-2 me-2"></i>SubRubros
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="bi bi-person me-2"></i>otro
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_catalogo_index') }}">
                                <i class="bi bi-shop"></i> Ver Catálogo
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">
                                <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="container-fluid py-4">
            {% block content %}{% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html> 