{# filepath: templates/emails/pedido_confirmation.html.twig #}
{% extends 'emails/base.html.twig' %}

{% block title %}Confirmación de Pedido{% endblock %}

{% block content %}
    <div class="header">
        <h1>¡Gracias por su pedido!</h1>
    </div>
    
    <p>Estimado/a {{ pedido.cliente.razonSocial }},</p>
    
    <p>Hemos recibido correctamente su pedido #{{ pedido.id }}. A continuación encontrará los detalles:</p>

    {% include 'emails/_pedido_details.html.twig' %}

    <p>Nuestro equipo procesará su pedido lo antes posible.</p>
    
    {% if pedido.cliente.vendedor %}
    <p>Si tiene alguna pregunta, no dude en contactar con su vendedor:</p>
    <p>
        {{ pedido.cliente.vendedor.nombre }} {{ pedido.cliente.vendedor.apellido }}<br>
        Email: {{ pedido.cliente.vendedor.email }}<br>
        {% if pedido.cliente.vendedor.telefono %}
        Tel: {{ pedido.cliente.vendedor.telefono }}
        {% endif %}
    </p>
    {% endif %}
    
    <div>
        
    </div>
{% endblock %}